.blog-nav-item-a 
{color: #fff;
 text-decoration:none;
 } 
 .blog-nav ul{
	margin:0px;
	padding:0px;
}
.blog-nav ul li{
	float:left;
	list-style-type:none;
}
.dropdown-menu li{
	width:100%;
	
}
.dropdown-menu li a{
	padding-top:5px;
	padding-bottom:5px;
}
.blog-post-title{
	width:100%;
	float:left;

}
.blog-post-title h3{
	float:left;
	width:200px;
	height:38px;
	line-height:38px;
	padding:0px;
	margin:0px;
	text-align:left;
}
