body {
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif; 
}
.blog-nav-item-a 
{color: #fff;
 text-decoration:none;
 } 
 .blog-nav ul{
	margin:0px;
	padding:0px;
}
.blog-nav ul li{
	float:left;
	list-style-type:none;
}
.dropdown-menu li{
	width:100%;
	
}
.dropdown-menu li a{
	padding-top:5px;
	padding-bottom:5px;
}
.blog-post-title{
	width:100%;
	float:left;

}
.blog-post-title h3{
	float:left;
	width:200px;
	height:38px;
	line-height:38px;
	padding:0px;
	margin:0px;
	text-align:left;
}

.sidebar-module {
	float:left;
}
