#search{
	float:right;
	width:100px;
}
#searchContent {
	float:right;
	width:200px;
	margin-right:5px;
}
#createArticle{
	float:left;
	width:100px;
	margin-right:5px;
}
#commentBody td,#commentBody th{
	line-height:50px;
	height:50px;
	margin:0px;
	padding:0px;
	background:red;
}
#commentBody .btn
{
	margin-left:10px;
}