#search{
	float:right;
	width:100px;
}
#searchContent {
	float:right;
	width:200px;
	margin-right:5px;
}
#createArticle{
	float:left;
	width:100px;
	margin-right:5px;
}
#articleBody td,#articleBody th{
	line-height:40px;
	height:40px;
	margin:0px;
	padding:0px;
}
#articleBody .btn
{
	margin-left:10px;
}